
@font-face {
  font-family: Lato-Light;
  font-weight: 100;
  src: url("/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-display: block;
}
  
@font-face {
  font-family: Lato-Regular;
  font-weight: 100;
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: Lato-Bold;
  font-weight: 100;
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: Lato-Black;
  font-weight: 100;
  src: url("/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: Sen-Regular;
  font-weight: 100;
  src: url("/fonts/Sen/Sen-Regular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: Sen-Medium;
  font-weight: 100;
  src: url("/fonts/Sen/Sen-Medium.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: Sen-Bold;
  font-weight: 100;
  src: url("/fonts/Sen/Sen-Bold.ttf") format("truetype");
  font-display: block;
}

