@use "sass:list";
@use "sass:map";

$white: #ffffff;
$black: #000000;

$colors: 'white', 'black';
$colorsMap: (
  'black': $black,
  'white': $white
);

$sides: 't', 'r', 'b', 'l';

$transparent: transparent;
$header: 66px;
$header-mobile: 60px;
$main-padding: calc((100% - 1100px) / 2);
$sidebar: 300px;
$bottomNav: 90px;

$ease: all 0.3s ease-out;

$senRegular: Sen-Regular;
$senMedium: Sen-Medium;
$senBold: Sen-Bold;

$latoLight: Lato-Light;
$latoRegular: Lato-Regular;
$latoBlack: Lato-Black;
$latoBold: Lato-Bold;

$sidesMap: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);

//////////// BREAKPOINTS ////////////
$breakpoint-xs: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;

@mixin media($media) {
  @if $media == md {
    @media only screen and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == xs {
    @media only screen and (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else {
    @content;
  }
}