@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .animate-slide-in {
    animation: slide-in 0.3s ease-out;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}