@use "tailwindcss";
@use './fonts';
@use './variables' as *;
@use "sass:list";
@use "sass:map";
@use "sass:math";

// Modules
@use './Resets.scss';

* {
  font-family: $latoRegular;
}

.text-justify {
  text-align: justify;
}

.section {
  height: calc(100vh - $header);
  width: 100%;
}

.App {
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.push-header {
  margin-top: $header;
  @include media(xs) {
    margin-top: $header-mobile;
  }
}


.no-scroll {
  overflow: hidden !important;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.f-title {
  font-family: $senRegular, sans-serif;
}

.f-texts {
  font-family: $latoRegular, sans-serif;
}

.text-minus {
  text-transform: capitalize !important;
}

.text-mayus {
  text-transform: uppercase !important;
}

@for $i from 0 through 100 {
  .w-#{$i} {
    width: #{$i}#{'%'};
  }
}

@for $i from 0 through 100 {
  .h-#{$i} {
    height: #{$i}#{'%'};
  }
}

@for $i from 0 through 200 {
  .hb-#{$i} {
    height: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .wt-#{$i} {
    width: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .br-#{$i} {
    border-radius: #{$i}px;
  }
}

@for $i from 0 through 10 {
  .o-#{$i} {
    opacity: #{math.div($i, 10)};
  }
}

@for $i from 1 through 4 {
  .pl-#{$i} {
    padding-left: #{$i * 8}px;
  }
}

@for $i from 1 through list.length($colors) {
  .bg-#{list.nth($colors, $i)} {
    background-color: map.get($colorsMap, list.nth($colors, $i))!important;
  }

  .c-#{list.nth($colors, $i)} {
    color: map.get($colorsMap, list.nth($colors, $i));
  }

   .b-#{list.nth($colors, $i)} {
    border-color: map.get($colorsMap, list.nth($colors, $i)) !important;
  }
}

@for $i from 1 through list.length($sides) {
  @for $j from 1 through 50 {
    .border-#{list.nth($sides, $i)}-#{$j} {
      border-#{map.get($sidesMap, list.nth($sides, $i))}: solid #{$j}px;
    }

    .border-#{$j} {
      border: solid #{$j}px;
    }
  }

  @for $j from 1 through 200 {
    .m#{list.nth($sides, $i)}-#{$j} {
      margin-#{map.get($sidesMap, list.nth($sides, $i))}: #{$j}px;
    }
  }

  @for $j from 1 through 200 {
    .p#{list.nth($sides, $i)}-#{$j} {
      padding-#{map.get($sidesMap, list.nth($sides, $i))}: #{$j}px;
    }
  }
}

@for $j from 1 through 200 {
  .m-#{$j} {
    margin: #{$j}px;
  }

  .pdng-#{$j} {
    padding: #{$j}px;
  }
}

@for $i from 1 through 126 {
  .f-#{$i} {
    font-size: #{$i}px;
  }

  .f-xs-#{$i} {
    @media (min-width: 576px) {
      font-size: #{$i}px;
    }
  }
  
  .f-md-#{$i} {
    @media (min-width: 768px) {
      font-size: #{$i}px;
    }
  }

  .f-xl-#{$i} {
    @media (min-width: 1200px) {
      font-size: #{$i}px;
    }
  }
}

@for $i from 1 through 110 {
  .lh-#{$i} {
    line-height: #{$i}px;
  }
}

@for $i from 1 through 90 {
  .z-#{$i} {
    z-index: #{$i};
  }
}

@for $i from 1 through 200 {
  .gap-#{$i} {
    gap: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .vw-#{$i} {
    width: #{$i}vw;
  }
}

@for $i from 0 through 100 {
  .vh-#{$i} {
    height: #{$i}vh;
  }
}

.f-senBold {
  font-family: $senBold;
}

.f-latoBold {
  font-family: $latoBold;
}

.f-senMedium {
  font-family: $senMedium;
}

.f-senRegular {
  font-family: $senRegular;
}

.content {
  height: calc(100vh - $header);
}