@use './variables' as *;

* {
  font-family: $latoRegular, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $senRegular, sans-serif;
}

p {
  margin: 0;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.justify-center {
  display: flex;
  justify-content: center;
}

body {
  font-weight: 500;
  font-family: 'Linotte', sans-serif;
  font-size: .8em;
  & *::selection {
    background-color: $black;
  }
}

img {
  user-select: none;
}